
/*  */
header{
    background-color: rgb(10, 81, 187);
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
}
nav{
   
    color: aliceblue;
}
.ic{
    margin-left: 15%;
}
form{
    position: relative;
}
.inse{
    width: 449px !important;
}
.search{
    position: absolute;
    top:7%;
    right:5%;

}
.log{
    color: blue;
    font-weight: 500;
}
.bm{
    font-weight: 500;
    color: aliceblue;
}
.bm:hover{
    color: white;

}
.nof{
    position: absolute;
    right: 18%;
    top: 0%;
    background-color: red;
    width:12px ;
    height:21px ;
    border-radius: 7px;
}
.item_box:hover{
    transform: scale(1.1);
    transition: transform .2s;
    filter: brightness(1);
    /* width: 200px;
    height: 200px; */


}
/*  */
.path{
    font-size: 14px;
}
/* .images{
    height: 400px;
} */
.c1{
    max-width: 98%;
}
.but{
    width: 49%;
    border: none;
    border-radius: 2px;
    font-weight:700;
    color: aliceblue;

}
.atc{
    background-color: orange;
}
.bn{
    background-color: tomato;
}
li{
    list-style: none;
    padding: 1.5% 0%;
}

.l2{
    line-height: 1.4;
    font-size: 20px;
    font-weight: 400;
}
.l3{
    font-size: 30px;
    font-weight: 500;
}
.l4{
    background-color: green;
    display: inline;
    padding: 4px 8px ;
    color: aliceblue;
    border-radius: 48%;
}
.l5{
    font-size: 14px;
    font-weight: 500;
}
.disc{
    font-size: 16px;
    font-weight: 500;
    color: green;
}
.of{
    padding: 1% 0%;
    /* list-style: url(https://rukminim1.flixcart.com/www/36/36/promos/06/09/2016/c22c9fc4-0555-4460-8401-bf5c28d7ba29.png?q=90); */
}
.of::before {
    content: '';
    display: inline-block;
    margin-right: 10px;
    height: 18px;
    width: 18px;
    background-image:url(https://rukminim1.flixcart.com/www/36/36/promos/06/09/2016/c22c9fc4-0555-4460-8401-bf5c28d7ba29.png?q=90);
}
.details{
    font-size: 14px;
    color: #878787;
    font-weight: 500;
    float: left;
}
.det{
    line-height: 1.5em;
    font-size: 14px;
    margin-left: 14%;
    font-weight: 400;
}
.specs_list li{
    list-style:square !important;
}.footer_icon{
    align-self: center;
}
/* .footer2{ */
    /* padding-top: 2%; */
/* } */
.footer_sec2 li{
    display: inline-block;
    /* padding-left: 5%; */
}
.maxw{
    max-height: 500px;
}
/* footer */
