/*.one{
    border: 1px solid aqua;
    height: 150px;
    width: 170px;
    margin: 10px;
   
}
.two{
    border: 1px solid aqua;
    height: 150px;
    width: 170px;
    margin: 10px;
    position: absolute;
    top: 0px;
    left: 208px;
}
.parent{
    width: 45%;
    height: 52%;
    border: 1px solid rgb(255, 255, 255);
    position: relative;
    margin:auto;
    margin-top: 14%;

    
   
    
}
.three{
    height: 150px;
    width: 170px;
    border: 1px solid aqua;
    margin: 10px;
    position: absolute;
    top: 0%;
    left: 416;
}
.four{
    height: 150px;
    width: 170px;
    border: 1px solid aqua;
    top: 160px;
    margin: 10px;
    
}
.five{
    height: 150px;
    width: 170px;
    border: 1px solid aqua;
    margin: 10px;
    position: absolute;
    top: 160px;
    left: 208px;;
}
.six{
    height: 150px;
    width: 170px;
    border: 1px solid aqua;
    margin: 10px;
    position: absolute;
    top: 160px;
    left: 416px;
}*/
.parent{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(255, 253, 253);
    /* position: relative; */
    /* margin:auto;
    margin-top: 14%; */

}
.row1{
    display: inline-block;
    width: 29%;
    height: 33%;
    border: 1px solid aqua;
    margin: 2%;
}
/* .row2{
    display: inline-block;
    width: 25%;
    height: 33%;
    border: 1px solid black;
    margin: 10px;
} */
