*{
    margin: 0%;
    padding: 0%;
}
header{
    background-color: #FCFCFC;
}
select:hover{color: #EC483C;}
select{
    margin: 2.5% -13% 0% 16%;
    vertical-align: top;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    border: none;
    color: #494D56;
}
.button1{
    float: right;
    margin: 1.5% 2% 0% 0%;
    padding: 1% 1% 1% 1%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    border: none;
    color: #FFFFFF;
    background: #EC483C;
    border-radius: 10px;

}
.logo{
    width: 13.33%;
    height: 0%;
    margin-left: 3%;
}
.box1{
    margin-top: 1%;
    margin-left: 2%;
    width: 48%;
    display: inline-block;
    vertical-align: top;
}
.box11{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 55px;
    margin-top: 125px;
    /* or 125% */
    display: flex;
    align-items: center;
    color: #494D56;
}
.box12{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 154.4%;
    /* or 31px */
    display: flex;
    align-items: center;
    font-feature-settings: 'kern' off;
    margin-top: 27px;
    color: #666666;

}
.box2{
    float: right;
    width: max-content;
    margin-right: 2%;
}
.section1{
    background-image: url(/16-09-2022/output/Asset\ 4\ 1.png);
    padding-bottom: 5%;
}
.section2{
    background-color: #1F2631;
    padding: 2%;
}
.box21{
    display: inline-block;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    width: 35%;
    margin-left: 4%;
    vertical-align:top;
    margin-top: 1.5%;
    color: #FFFFFF;

}
.email{
    float: right;
    margin:3% 8% 0% 0% ;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding:1% 14% 1% 2%;
    margin: 2% 8% 0% 0%;
}
.vector{
    margin-left: 8%;
    width: 6%;
    margin-top: 1%;
}
.button2{
    font-family: 'Helvetica';
    background: #E5E5E5;
    border-radius: 10px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 154.4%;
    margin: 0% 0% 0% 6%;
/* identical to box height, or 25px */
    text-align: center;

    color: #494D56;
    padding: 1% 3%;
}
.searchlink{
    position: absolute;
    right: 6%;
    top: 3%;
  
}
.search{
    float: right;
    border: 1px solid  #494D56;
    border-radius: 10px;
    padding: 1% 3%;
    margin: 4% 4% 0% 0%;
}
.buttonred{
    background: #EC483C;
    border-radius: 10px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 154.4%;
    padding: 1% 3%;
    margin: 4% 0% 0% 4%;
    border: none;
/* identical to box height, or 25px */
    color: #FFFFFF;
}

.rb1{
    display: inline-block;
    width: min-content;
    /* margin-inline: -4px; */
    margin-left: 17px;
    background: #FCFCFC;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.row1{
    width: max-content;
    margin: 0% auto;
    margin-top: 4%;
    /* margin-left: 4%; */
}
.para1{
    font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
/* or 125% */

margin: 8%;
color: #494D56;

}
.para2{
    font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* or 188% */
margin: 9%;

color: #595959;
}
.rb1:first-child{
    margin-left: 0%;
}
.pagebuttons{
    width:50%;
    margin: 0% auto;
}
.pbutton:active{background-color: #EC483C; color: white;}
.pbutton{
    margin: 11% 1% 0% 0%;
    background: #E5E5E5;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #494D56;
    padding: 1% 2%;
    border: none;

}
.section3{
    background: #F5F5F5;
    position: relative;
}
.section4{
    background: #494D56;
    margin-top: 5%;
    padding-bottom: 3%;
}
.box41{
    display: inline-block;
    width:30%;
    vertical-align:top;
    margin: 5% 3% 0% 0%;

}
.links{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */
text-decoration: none;
/* display: flex; */
align-items: center;
margin: 0% 16% 0% 0%;
color: #FFFFFF;

}
.demo{
    background: #EC483C;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 154.4%;
    padding: 1% 3%;
    color: #FFFFFF;
    border: none;
}
.line1{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

display: flex;
align-items: center;

color: #FFFFFF;
}
.line2{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
align-items: center;

color: #FFFFFF;

}
.ic{
    width:max-content;
    background: #5D626F;
border-radius: 5px;
    display: inline-block;
}
.subs{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    align-items: center;
    /* float: right; */
    color: #FFFFFF;
    background: #EC483C;
    border-radius: 0px 5px 5px 0px;
    padding: 3%;
    border: none;
    margin-left: -4px;

}
.eemail{
    border: none;
    padding: 2%;
    padding: 4% 18% 4% 5%;
    background-color: transparent;
    color: #FFFFFF;

}
.subscribebox{
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    box-sizing: border-box;
    width:347px;
}
.ic{
    margin-inline: 3px;
    padding: 2%;
}
.icon{
    vertical-align: middle;
}
footer{
    background: #3A3E47;
    padding: 1% 0%;
}
h6{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    display: flex;
    align-items: center;
    display: inline-block;
    color: #FFFFFF;
    margin-left: 2%;

}
h6:first-child{
    margin-left: 6%;
}
