body{
    background-color: rgb(200, 201, 200);
}
.parent{
    width: 100%;
    overflow: hidden;
}
header{
    width: 100%;
    padding: 2% 0%;
    background-color: black;
    vertical-align: middle;

}
b{
    color: aliceblue;
    margin-left: 3%;
}
.box1{
    display: inline-block;
    width: 68%;
    background-color: rgb(255, 255, 255);
    padding: 0% 2%;
    margin: 1% 0%;
}
.image1{
    padding: 20% 0%;
    margin: 0% 0%;
    background-color: grey;
    padding-top:0%;

}
.box2{
    display: inline-block;
    background-color: rgb(246, 248, 248);
    width: 24.7%;
    vertical-align: top;
    margin: 1% 1%;
    padding: 0% 1%;
    margin-right: 0%;
}
.image2{
    padding: 17% 0%;
    background-color: gray;
}
.box4{
    display: inline-block;
    background-color: rgb(255, 254, 254);
    width: 22.7%;
    vertical-align: top;
    margin: -13% 1%;
    padding: 0% 2%;
    margin-right: 0%;

}
.images{
    padding: 6% 7%;
    background-color: gray;
    margin-top: -3%;
    margin-bottom: 13%;
}
img{
    padding: 6% 0%;
    margin: 0% 0%;
}
.box5{
    width: 27%;
    display: inline-block;
    padding-bottom: 6%;
    margin: -24% 73.3%;
    background-color: aliceblue;
    vertical-align: top;
}
.im{
    margin-bottom: 0%;
    padding: 1%;
}
.fot{
    padding: 2% 0%;
    margin-left: 50%;
    margin-top: -1%;
}
footer{
    background-color: aliceblue;
}
.karka{
    background-color: aliceblue;
    padding: 4%;
}
.main{
    margin:1% 38% ;
    padding: 0% 0%;
}
